.toggleButtonContainer {
  display: flex;
  margin-bottom: 4.5rem;
  width: 24.4rem;
  background-color: var(--gray-300, #ccc);
  border-radius: 0.6rem;
}

.toggleButton {
  padding: 0.7rem 1.6rem;
  width: 12.2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: -0.016rem;
  border-radius: 0.6rem;
}

.toggleButton:disabled {
  border: 2px solid var(--purple-700, #861dee);
  background-color: var(--White);
  font-weight: 700;
  color: var(--purple-700, #861dee);
}
