.root {
  cursor: pointer;
}
.header {
  display: flex;
  margin-bottom: 1.5rem;
  position: relative;
}

.divider {
  border: 1px solid var(--gray-200);
}

.bin {
  /* desktop */
  position: absolute;
  right: 1rem;
}
