.container {
  border-radius: 1.6rem;
}

.card {
  display: flex;
  gap: 7.2rem;
  flex-direction: column;
  padding: 3.2rem 2.4rem 2rem 2.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.08);
  width: 27.5rem;
  height: 26rem;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 1.6rem;
}

.BadgeEmojiListWrapper {
  display: flex;
  justify-content: center;
  padding-top: 1.6rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
}

.purple {
  background: var(--purple-200, #ecd9ff);
}

.beige {
  background: var(--orange-200, #ffe2ad);
}

.blue {
  background: var(--blue-200, #b1e4ff);
}

.green {
  background: var(--green-200, #d0f5c3);
}

/* Tablet 화면 크기 (1199px 이하) */
@media screen and (max-width: 1199px) {
}

/* Mobile 화면 크기 (767px 이하) */
@media screen and (max-width: 767px) {
  .card {
    padding: 3rem 1.2rem 2rem 1.2rem;
    width: 20.8rem;
    height: 23.2rem;
  }
}
