.root {
  width: 7.2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: 0.1rem solid var(--gray-300, #ccc);
  width: 32rem;
  height: 5rem;
  background-color: white;
  font-size: 1.6rem;
  line-height: 2.6rem; /* 162.5% */
  color: var(--gray-900, #181818);
  letter-spacing: -0.016rem;
  border-radius: 0.8rem;
}

.ul__open {
  margin-top: 0.2rem;
  border: 0.1rem solid var(--gray-300, #ccc);
  box-shadow: 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  position: relative;
  z-index: 1;
  width: 32rem;
  background: var(--white, #fff);
  background-color: white;
  color: black;
  border-radius: 0.8rem;
}

.ul__close {
  margin-top: 0.2rem;
  overflow-y: auto;
  width: 32rem;
  height: 0rem;
  background-color: white;
  color: black;
}

.li {
  padding: 1.2rem 1.6rem;

  font-size: 1.6rem;
  line-height: 2.6rem; /* 162.5% */
  color: var(--gray-900, #181818);
  letter-spacing: -0.016rem;
}

.li:hover {
  background-color: #f6f6f6;
  color: black;
}

.input {
  padding: 0.2rem;
  border: none;
  outline: none;
  width: 30.4rem;
  height: 3rem;
}

.option__container {
  display: flex;
  align-items: center;
  padding-left: 0.2rem;
  position: sticky;
  top: 0;
  background-color: white;
}

.arrow__top {
  transform: rotate(180deg);
}
