html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html,
body,
button,
input,
h1,
h2 {
  /* letter-spacing, line-height, font-size는 필요할 때마다 선언,
      font-weight는 normal 아닐 때만 선언, */
  color: var(--Black, #000000);
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  word-break: keep-all;
}

:root {
  --purple-100: #f8f0ff;
  --purple-200: #ecd9ff;
  --purple-300: #dcb9ff;
  --purple-400: #c894fd;
  --purple-500: #ab57ff;
  --purple-600: #9935ff;
  --purple-700: #861dee;
  --purple-800: #6e0ad1;
  --purple-900: #5603a7;

  --orange-200: #fff0d6;
  --orange-300: #ffe2ad;
  --orange-400: #ffc583;
  --orange-100: #ffae65;
  --orange-500: #ff8832;

  --blue-100: #e2f5ff;
  --blue-200: #b1e4ff;
  --blue-300: #7cd2ff;
  --blue-400: #34b9ff;
  --blue-500: #00a2fe;

  --green-100: #e4fbdc;
  --green-200: #d0f5c3;
  --green-300: #9be282;
  --green-400: #60cf37;
  --green-500: #2ba600;

  --gray-100: #f6f6f6;
  --gray-200: #eeeeee;
  --gray-300: #cccccc;
  --gray-400: #999999;
  --gray-500: #555555;
  --gray-600: #4a4a4a;
  --gray-700: #3a3a3a;
  --gray-800: #2b2b2b;
  --gray-900: #181818;

  --White: #ffffff;
  --Black: #000000;
  --Error: #dc3a3a;
  --Surface: #f6f8ff;
}
