/* PC 화면 크기 (1200px 이상) */
.container {
  display: flex;
  align-items: center;
  z-index: 1;
}

.badgeEmojiList {
  display: flex;
  gap: 0.8rem;
}

.buttonContainer {
  position: relative;
}

.button {
  padding: 0.6rem;
  width: 3.6rem;
  height: 3.6rem;
}

.badgeEmojiListPopover {
  display: grid;
  gap: 0.8rem;
  padding: 2.4rem;
  border: 0.1rem solid #b6b6b6;
  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 4.3rem;
  right: 0;
  background: #fff;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  border-radius: 0.8rem;
}

/* Tablet 화면 크기 (1199px 이하) */
@media screen and (max-width: 1248px) {
  .badgeEmojiListPopover {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .badgeEmojiListPopover li:nth-child(n + 7) {
    display: none;
  }
}

/* Mobile 화면 크기 (767px 이하) */
@media screen and (max-width: 767px) {
  .badgeEmojiListPopover {
    padding: 1.6rem;
    height: 9.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .badgeEmojiListPopover li:nth-child(n + 7) {
    display: none;
  }
}
